# Forrásfájlok (érzékeny adatok)
notebooks/sources/
source/

# Generált adatrétegek
data/

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment változók
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
